doctype html
html.no-js(lang=language xml:lang=language xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='X-UA-Compatible' content='IE=EDGE')
    meta(httpEquiv='Content-type' content='text/html;charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title React • Shopping Cart

    link(rel="stylesheet" type="text/css" href="/css/styles.css")

    script(src="libs/modernizr.js" type="text/javascript")

  body
    section#app

    script(src="js/app.js" type="text/javascript")
