@import 'bourbon';
@import 'neat';

/////////////////////////////////
// Color variables
/////////////////////////////////

$primary:		#13a7c7;
$primary-hover:	#59c1d7;
$light-grey:	#c8c8c8;



/////////////////////////////////
// Width Variables
/////////////////////////////////
$bp1: 20em;
$bp2: 30em;
$bp3: 47.5em;
$bp4: 64.3em;
$bp5: 75em;

$max-width: 100%;

/////////////////////////////////
//Breakpoint variables - using em's as they support zoom arguments for new-breakpoint(query, width, columns);
/////////////////////////////////
// Mobile portrait
$xsmall: new-breakpoint(min-width $bp1 4);

// Mobile landscape
$small: new-breakpoint(min-width $bp2 8);

//Tablet Portrait
$medium: new-breakpoint(min-width $bp3 12);

//Tablet Landscape
$large: new-breakpoint(min-width $bp4 12);

//Desktop
$xlarge: new-breakpoint(min-width $bp5 20);
